
html{
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Raleway', 'sans-serif';
    color: rgb(0, 51, 103);
}

/* normal mobile size */
#nav{
    width: 100%;
    top: 0;
    background-color: rgb(211, 234, 240);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
    justify-content: space-between;
    margin-top: -2rem;
}
#nav div{
    margin-top: 3rem;
}

#logo {
    /* width:22rem; */
    width: 30%;
    height: 30%;
    margin-left: 1rem;
    margin-right: 0rem;
}

#hamburger {
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    margin-right: 3rem;
  }

#login-holder {
    display: none;
}

#nav p {
    margin: 0;
    padding: 0;
}


/* main search starts here */
#landing-search{
    min-height: 30rem;
    width: 100%;
    background-size: 100%, 85%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    margin-bottom: 0rem;
    padding-bottom: 5rem;
}

#searching-area{
    padding: 4rem;
    font-family: 'Raleway', 'sans-serif';
    color: rgb(0, 51, 103);
}

#landing-search h1 {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

#landing-search h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
}

input{
    -webkit-appearance: none;
    border:none;
    margin-top: 1rem;
    font-size: 1rem;
    padding-left: 1rem;
    border: 1px solid rgb(0, 51, 103);
}

#keywords, #location {
    width: 22rem;
    height: 3rem;
}

#searching-function{
    display: flex;
    flex-direction: column;
}

#search-button {
    display: none;
}

button {
    font-size: 1rem;
    margin-top: 1rem;
    margin-right: 0rem;
    width: 23rem;
    height: 3rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 134, 134);
}

#advanced_search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#advanced{
    width: 1.2rem;
    height: 1.5rem;
    margin-right: 0.6rem;
}

#doctors {
    width: 22rem;
    padding-left: 4rem;
}

/* quetsion starts here */
#question {
    margin-bottom: 10rem;
    text-align: center;
}

.decoration{
    background-color: rgb(255, 134, 134);
    width: 4rem;
    height: 0.3rem;
    margin-left: auto;
    margin-right: auto;
}

#question h1 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

#question p {
    line-height: 2rem;
}

#question-main-content h2, #question-main-content p{
    text-align: start; 
}

#question-main-content h2{
    margin-top: 2rem;
    font-size: 1.3rem;
}

#question-main-content p{
    font-size: 1rem;
    text-align: justify;
}

#question-icon {
    width: 22rem;
    min-width: 17%;
    margin-left: 7rem;
    margin-right: 0rem;
    margin-left: auto;
    margin-right: auto;
} 

#question-icon img{
    width: 15rem;
    min-width: 17%;
} 

#question-desc {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.emphasized{
    color: rgb(255, 134, 134);
}

/* solution starts here */

#solution h1 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

#solution-main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: auto;
    padding-right: auto;
}

#solution-main-content img {
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
}

#solution{
    text-align: center;
    margin-bottom: 10rem;
}

.solution-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.solution-desc img {
    width: 5rem;
    margin-bottom: -1rem;
}

.solution-desc p {
    font-size: 1em;
    width: 13rem;
    font-family: 'Montserrat', sans-serif;
}

/* about us */
#aboutus {
    width: 100%;
    min-height: 23rem;
    background-color: rgb(211, 234, 240);
    height: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    margin-bottom: 10rem;
}

#aboutus h1{
    font-size: 1.5rem;
}

#aboutus p{
    text-align: start justify;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
}


/* team starts here */

#team  h1{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

#team-main-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
}

#team{
    text-align: center;
    margin-bottom: 6rem;
}

.team-desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.team-desc img{
    width: 4rem;
}

.team-desc h2{
    font-size: 1rem;
    font-family: 'Raleway', 'sans-serif';
    margin-bottom: 0.4rem;
}

.team-desc p{
    font-size: 0.8em;
    width: 10rem;
    margin: 0;
}



/* footer */
footer img{
    width: 15rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}  


/* ipad */
@media screen and (min-width: 768px) {
    /* nav starts here */
    #nav{
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 2rem;
        justify-content: space-between;
        background-color: rgb(0, 51, 103);
    }

    #logo {
        content: url("../img/logo.png");
        width: 50%;
        height: 50%;
    }

    #hambuger {
        display: none;
    }

    #login-holder{
        display: block;
        color: white;
        border: 1px solid white;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: 3rem;
    }


    /* main search starts here */
    #landing-search {
        background-image: url("../img/header_bg.svg");
        background-size: 100%, 85%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    #searching-area {
        color: white;
        padding-left: 3rem;
    }

    #landing-search h1 {
        font-size: 1.5rem;
    }

    #landing-search h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        font-weight: lighter;
    }

    input {
        -webkit-appearance: none;
        border:none;
        margin-top: 1rem;
        font-size: 0.85rem;
        padding-left: 1rem;
    }

    #keywords, #location {
        width: 18rem;
        height: 2rem;
    }

    #location{
        width: 14.5rem;
    }

    #location_submit{
        display: flex;
        flex-direction: row;
    }

    button {
        display: none;
    }

    #search-button {
        display: block;
        margin-top: 1rem;
        margin-left: 1rem;
        padding: 0.7rem;
        background-color: rgb(255, 134, 134);
        width: 0.9rem;
    }

    #advanced_search{
        margin-left: 0;
    }

    #advanced {
        content: url("../img/advanced.png");
        width: 1.2rem;
        height: 1.5rem;
        margin-right: 0.6rem;
    }

    #advanced_search p {
        font-size: 0.9rem;
    }

    #doctors {
        content: url("../img/doctors_heart.png");
        width: 20rem;
        margin-top: 4rem;
    }


    /* quetsion starts here */
    #question-main-content{
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        align-items: center;
        /*margin-left: 0rem;
        margin-right: 10rem; */
    }

    #question-main-content h2, #question-main-content p{
        text-align: start; 
    }

    #question-icon {
        width: 20rem;
        margin-right: 3rem;
    } 

    #question-desc {
        width: 20rem;
        margin-right: 2rem;
    }

    #question-desc p {
        font-size: 1rem;
    }

    /* solution starts here */

    #solution h1 {
        margin-bottom: 5rem;
    }

    #solution-main-content{
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .solution-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .solution-desc img{
        width: 8rem;
        margin-bottom: 0.5rem;
    }

    .solution-desc p {
        font-size: 0.9rem;
        width: 10rem;
    }

    /* about us */
    #aboutus {
        width: 100%;
        min-height: 23rem;
        background-image: url('../img/home-aboutus-bg.png');
        margin-bottom: 10rem;
        color: white;
        padding-top: 4rem;
        padding-bottom: 1rem;
        text-align: center;
        vertical-align: middle;
    }

    #aboutus p {
        text-align: start;
        text-align: justify;
        width: 60%;
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 0.9rem;
        line-height: 2rem;
    }


    /* team starts here */

    #team h1 {
        /* font-size: 1.5rem; */
        margin-bottom: 3rem;
    }

    #team{
        text-align: center;
        margin-bottom: 8rem;
    }

    .team-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-desc img{
        width: 6rem;
    }

    .team-desc h2{
        margin-bottom: 1rem;
        margin-bottom: 0.3rem;
    }

    .team-desc p{
        font-size: 0.8em;
        width: 10rem;
        /* margin: 0; */
    }


    /* footer */
    footer{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        margin-bottom: 5rem;
    }  

}

  /* ipad horizontal + ipad provertical */
@media screen and (min-width: 1023px) {
    /* nav starts here */
    #login-holder{
        margin-right: 5rem;
    }

    /* main search starts here */
    #landing-search{
        background-image: url("../img/header_bg.svg");
        padding-top: 5rem;
    }

    #landing-search h1 {
        font-size: 2.5rem;
    }

    #landing-search h2 {
        font-size: 1rem;
    }

    input{
        font-size: 1rem;
        padding-left: 1rem;
    }

    #keywords {
        width: 27rem;
        height: 3rem;
    }

    #location{
        width: 23rem;
        height: 3rem;
    }

    #search-button{
        margin-top: 1rem;
        margin-left: 1rem;
        padding: 0.8rem;
        background-color: rgb(255, 134, 134);
        width: 1.5rem;
    }

    #doctors {
        width: 24rem;
    }


    /* quetsion starts here */
    #question {
        margin-bottom: 15rem;
    }

    #question h1{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    #question p {
        line-height: 2rem;
    }

    #question-main-content h2{
        margin-top: 1.6rem;
        font-size: 1.5rem;
    }

    #question-main-content p{
        font-size: 1rem;
    }

    #question-icon {
        width: 20rem;
        margin-left: 6rem;
    } 

    #question-icon img{
        width: 20rem;
    } 

    #question-desc{
        width: 35%;
        margin-right: 6rem;
    }

    /* solution starts here */

    #solution  h1{
        font-size: 2rem;
        margin-bottom: 5rem;
    }

    #solution-main-content{
        padding-left: 7rem;
        padding-right: 7rem;
    }

    #solution{
        margin-bottom: 15rem;
    }

    .solution-desc p{
        font-size: 1em;
        width: 13rem;
    }

    /* about us */

    #aboutus h1{
        font-size: 2rem;
    }

    #aboutus p{
        font-size: 1rem;
    }

    /* team starts here */

    #team  h1{
        font-size: 2rem;
        margin-bottom: 5rem;
    }

    #team-main-content{
        padding-left: 6rem;
        padding-right: 6rem;

    }

    .team-desc img{
        width: 8rem;
    }

    .team-desc h2{
        margin-bottom: 1rem;
    }

    .team-desc p{
        font-size: 0.9rem;
        width: 10rem;
        margin: 0;
    }

    /* footer */
    footer{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        margin-bottom: 5rem;
    }  
}

  /* ipad pro horizontal */
@media screen and (min-width: 1364px) {
    /* nav starts here */
    #nav{
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 2rem;
        justify-content: space-between;
    }
    #nav div{
        margin-top: 3rem;
    }

    #login-holder{
        color: white;
        border: 1px solid white;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: 3rem;
    }

    #nav p {
        margin: 0;
        padding: 0;
    }


    /* main search starts here */
    #landing-search{
        background-image: url("../img/header_bg.svg");
        min-height: 30rem;
        width: 100%;
        background-size: 100%, 85%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        padding-top: 14rem;
        margin-bottom: 6rem;
        padding-bottom: 15rem;
    }

    #searching-area{
        padding: 4rem;
        font-family: 'Raleway', 'sans-serif';
        color: white;
    }

    #landing-search h1 {
        font-size: 4rem;
        font-weight: bolder;
        margin-bottom: 1rem;
    }

    #landing-search h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: lighter;
    }

    input{
        -webkit-appearance: none;
        border:none;
        margin-top: 1rem;
        font-size: 1rem;
        padding-left: 1rem;
    }

    #keywords{
        width: 35rem;
        height: 3rem;
    }

    #location{
        width: 31rem;
        height: 3rem;
    }

    #searching-function{
        display: flex;
        flex-direction: column;
    }

    #location_submit{
        display: flex;
        flex-direction: row;
    }

    #search-button{
        margin-top: 1rem;
        margin-left: 1rem;
        padding: 0.8rem;
        background-color: rgb(255, 134, 134);
        width: 1.5rem;
    }

    #advanced_search{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #advanced{
        width: 1.2rem;
        height: 1.5rem;
        margin-right: 0.6rem;
    }

    #doctors{
        width: 100%;
        min-width: 27rem;
        margin-top: 4rem;
    }


    /* quetsion starts here */
    #question {
        margin-bottom: 15rem;
        text-align: center;
    }

    .decoration{
        background-color:  rgb(255, 134, 134);
        width: 4rem;
        height: 0.3rem;
        margin-left: auto;
        margin-right: auto;
    }

    #question  h1{
        font-size: 2.3rem;
        margin-bottom: 2rem;
    }

    #question p {
        line-height: 2rem;
    }

    #question-main-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #question-main-content h2, #question-main-content p{
    text-align: start; 
    }

    #question-main-content h2{
        margin-top: 2.7rem;
        font-size: 2.3rem;
    }

    #question-main-content p{
        font-size: 1.3rem;
    }

    #question-icon {
        width:35rem;
        min-width: 17%;
        margin-left: 7rem;
        margin-right: 0rem;
    } 

    #question-icon img{
        width:35rem;
        min-width: 17%;
    } 

    #question-desc{
        width: 35%;
        margin-left: 5rem;
    }

    .emphasized{
        color: rgb(255, 134, 134);
    }

    /* solution starts here */

    #solution  h1{
        font-size: 2.3rem;
        margin-bottom: 5rem;
    }

    #solution-main-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    #solution{
        text-align: center;
        margin-bottom: 15rem;
    }

    .solution-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .solution-desc img{
        width: 10rem;
    }

    .solution-desc p{
        font-size: 1.3em;
        width: 15rem;
    }

    /* about us */
    #aboutus{
        width: 100%;
        min-height: 23rem;
        background-image: url('../img/home-aboutus-bg.png');
        margin-bottom: 15rem;
        color: white;
        padding-top: 3rem;
        text-align: center;
        vertical-align: middle;
    }

    #aboutus h1{
        font-size: 2.3rem;
    }

    #aboutus p{
        text-align: start;
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: 1.3rem;
        line-height: 2rem;
    }


    /* team starts here */

    #team  h1{
        font-size: 2.3rem;
        margin-bottom: 5rem;
    }

    #team-main-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    #team{
        text-align: center;
        margin-bottom: 8rem;
    }

    .team-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-desc img{
        width: 13rem;
    }

    
    .team-desc h2{
        margin-bottom: 1rem;
    }

    .team-desc h2 {
        font-size: 1.5rem;
    }

    .team-desc p{
        font-size: 1.1em;
        width: 10rem;
        margin: 0;
    }



    /* footer */
    footer{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        margin-bottom: 5rem;
    }  

}

@media screen and (min-width: 1600px) {
    /* nav starts here */
    #nav{
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 2rem;
        justify-content: space-between;
    }
    #nav div{
        margin-top: 3rem;
    }

    #login-holder{
        color: white;
        border: 1px solid white;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: 3rem;
    }

    #nav p {
        margin: 0;
        padding: 0;
    }


    /* main search starts here */
    #landing-search{
        background-image: url("../img/header_bg.svg");
        min-height: 30rem;
        width: 100%;
        background-size: 100%, 85%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        padding-top: 14rem;
        padding-bottom: 25rem;
    }

    #searching-area{
        padding: 5rem;
        padding-left: 10rem;
        font-family: 'Raleway', 'sans-serif';
        color: white;
    }

    #landing-search h1 {
        font-size: 4rem;
        font-weight: bolder;
        margin-bottom: 1rem;
    }

    #landing-search h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: lighter;
    }

    input{
        -webkit-appearance: none;
        border:none;
        margin-top: 1rem;
        font-size: 1.5rem;
        padding-left: 1rem;
    }

    #keywords{
        width: 36.4rem;
        height: 4rem;
    }

    #location{
        width: 31rem;
        height: 4rem;
    }

    #searching-function{
        display: flex;
        flex-direction: column;
    }

    #location_submit{
        display: flex;
        flex-direction: row;
    }

    #search-button{
        margin-top: 1rem;
        margin-left: 1rem;
        padding: 1.1rem;
        background-color: rgb(255, 134, 134);
        width: 2rem;
    }


    #advanced_search{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.5rem;
    }

    #advanced{
        width: 2rem;
        height: 2.1rem;
        margin-right: 0.6rem;
    }

    #doctors{
        width: 100%;
        min-width: 27rem;
        margin-top: 4rem;
    }


    /* quetsion starts here */
    #question {
        margin-bottom: 15rem;
        text-align: center;
    }

    .decoration{
        background-color:  rgb(255, 134, 134);
        width: 4rem;
        height: 0.3rem;
        margin-left: auto;
        margin-right: auto;
    }

    #question  h1{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    #question p {
        line-height: 2rem;
    }

    #question-main-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #question-main-content h2, #question-main-content p{
    text-align: start; 
    }

    #question-main-content h2{
        margin-top: 2.7rem;
        font-size: 2.3rem;
    }

    #question-main-content p{
        font-size: 1.3rem;
    }

    #question-icon {
        width:35rem;
        min-width: 17%;
        margin-left: 7rem;
        margin-right: 0rem;
    } 

    #question-icon img{
        width:35rem;
        min-width: 17%;
    } 

    #question-desc{
        width: 35%;
        margin-left: 5rem;
    }

    .emphasized{
        color: rgb(255, 134, 134);
    }

    /* solution starts here */

    #solution  h1{
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }

    #solution-main-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    #solution{
        text-align: center;
        margin-bottom: 15rem;
    }

    .solution-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .solution-desc img{
        width: 10rem;
    }

    .solution-desc p{
        font-size: 1.3em;
        width: 15rem;
    }

    /* about us */
    #aboutus{
        width: 100%;
        min-height: 23rem;
        background-image: url('../img/home-aboutus-bg.png');
        margin-bottom: 15rem;
        color: white;
        padding-top: 3rem;
        text-align: center;
        vertical-align: middle;
    }

    #aboutus h1{
        font-size: 2.5rem;
    }

    #aboutus p{
        text-align: start;
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: 1.3rem;
        line-height: 2rem;
    }


    /* team starts here */

    #team  h1{
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }

    #team-main-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    #team{
        text-align: center;
        margin-bottom: 8rem;
    }

    .team-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-desc img{
        width: 13rem;
    }

    .team-desc h2{
        margin-bottom: 1rem;
    }

    .team-desc p{
        font-size: 1.3em;
        width: 10rem;
        margin: 0;
    }



    /* footer */
    footer{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        margin-bottom: 5rem;
    }  

}

